.movies-card {
  padding: 70px 70px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.movies-card__list {
  margin: 0;
  display: grid;
  padding: 0;
  gap: 32px 20px;
  grid-template-columns: repeat(4, 1fr);
  list-style: none;
}

@media screen and (max-width: 1279px) {
  .movies-card__list {
    gap: 36px 32px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 767px) {
  .movies-card {
    padding: 40px 70px 30px;
  }

  .movies-card__list {
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}