.techs__item {
  width: 90px;
  height: 60px;
  border-radius: 10px;
  background: #E8E8E8;
  display: flex;
  align-items: center;
  justify-content: center;

  color: #000;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}

@media screen and (max-width: 1279px) {
  .techs__item {
    font-size: 12px;
    width: 84px;
    height: 57px;
  }
}

@media screen and (max-width: 767px) {
  .techs__item:last-child {
    margin-right: 47%;
  }

  .techs__item {
    font-size: 12px;
    line-height: normal;
  }
}