.promo__main {
  display: flex;
  flex-direction: column;
}

.promo__wrapper {
  display: flex;
  gap: 40px;
  margin-top: 75px;
}

.promo__subtitle {
  margin: 0;
  order: 1;
  color: #000;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.8px;
  margin-bottom: 26px;
}

.promo__description {
  margin: 0;
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.promo__progressBar {
  display: flex;
  width: 100%;
  height: 36px;
  margin-top: 110px;
}

.promo__progressBar-part_short {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
}

.promo__progressBar-part_long {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.promo__progressBar-back {
  background-color: #3456F3;
}

.promo__progressBar-front {
  background-color: #F2F2F2;
}

.promo__progressBar-text {
  margin: 0;
  color: #000;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.promo__progressBar-text_colorized {
  color: #fff;
}

.promo__progressBar-description {
  display: flex;
  width: 100%;
  height: 17px;
  margin-top: 14px;
}

.promo__progressBar-description-text {
  color: #A0A0A0;
  line-height: 17px;
}

@media screen and (max-width: 1279px) {
  .promo__text-block {
    max-width: 440px;
    gap: 22px;
  }

  .promo__description-wrapper {
    margin-top: 72px;
    gap: 30px;
    justify-content: space-between;
  }

  .promo__subtitle {
    font-size: 20px;
  }

  .promo__description {
    font-size: 12px;
    line-height: 18px;
  }

  .promo__progress-notation-item {
    width: 21%;
  }

  .promo__progress-item {
    width: 21%;
  }

  .promo__progressBar{
    margin-top: 90px;
  }
}

@media screen and (max-width: 900px) {
  .promo__text-block {
    max-width: 319px;
  }
}

@media screen and (max-width: 767px) {
  .promo__text-block {
    gap: 16px;
    max-width: 284px;
    flex-direction: column;
  }
  
  .promo__wrapper {
    margin-top: 60px;
    gap: 50px;
  }

  .promo__progressBar {
    margin-top: 60px;
  }

  .promo__subtitle {
    font-size: 18px;
    margin-top: 56px;
    line-height: 22px;
    margin-bottom: 20px;
  }

  .promo__subtitle:first-child {
    margin-top: 0;
  }

  .promo__description {
    font-size: 11px;
    line-height: 16px;
  }

  .promo__progressBar-part_short {
    width: 35%;
  }

  .promo__progressBar-part_long {
    width: 65%;
  }

  .promo__progress-item:last-child {
    width: 65%;
  }

  .promo__progressBar-text {
    font-size: 11px;
    line-height: 13px;
  }
  
  .promo__progressBar-description {
    margin-top: 7px;
  }
}

@media screen and (max-width: 645px) {
  .promo__wrapper {
    flex-direction: column;
  }
}
