.page {
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
  font-family: "Inter", sans-serif;
  text-rendering: optimizeLegibility;
}

button:hover {
  opacity: 0.8;
  cursor: pointer;
}

a:hover {
  opacity: 0.8;
}

input:focus {
  outline: none;
  border: 1px solid #3456F3;
  border-radius: 3px;
}